@"
# Julia
*.jl.cov
*.jl.*.cov
*.jl.mem
Manifest.toml

# Jupyter / Pluto
.ipynb_checkpoints/
**/pluto_export/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Outputs
results/

methauristics/L4_SA/sa_history.csv
methauristics/L4_SA/sa_history.csv
methauristics/L4_SA/sa_history.csv
